{%extends 'base.html'%}

{% block content %}
<style>
.content3 {
    max-width: 70%;
    margin: auto;
}
</style>
<div class = "content3">
<h2>{{game.title}}</h2>
<br />
<img src="{{game.image.url}}" >
<br />
<h3><strong>Game Description:</strong></h3>
{{game.description}}
<br />
<strong> Price:</strong>  ${{game.price}}
<br />
<strong> Platform: </strong> {{game.platform}}
<br />

<style type="text/css">
.my_content_container a {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
    text-decoration: none;       
}
</style>

<div class="my_content_container">
    <a href="{% url 'games:buyGame'%}">Go to my link location</a>
</div>

<input type = "submit" value ="Buy Game!"/>
<input type = "submit" value ="Add to cart"/>
<br />
<br />
<br />
<h4> <strong>Comments:</strong></h4>
  No one has commented this item.....
  <br / >
  <br / >
  <br / >
<strong>Enter your comment:</strong><br/>
<textarea name="comment" form="usrform" style="width: 500px; height:100px;"></textarea><br />
<input type="submit" value="Submit">

</div>


{% endblock%}
