{%extends 'base.html'%}

{% block content %}

{{game.title}}
<br />
<img src="{{game.image.url}}" >
<br />
{{game.description}}
<br />
{{game.price}}
<br />
platform: {{game.platform}}
<br />

<input type = "submit" value ="Buy Game!"/>
<input type = "submit" value ="Add to cart"/>

<br />
<form action="{% url 'gameDetails' %}" id="usrform">
  User Name: <input type="text" name="usrname"><br />
  <textarea name="comment" form="usrform">Enter a comment here</textarea><br />
  <input type="submit" value="Submit">
</form>




{% endblock%}
