{%extends 'base.html'%}

{% block content %}

{%if auth%}
{{auth}}
<br / >
<br / >
{% endif %}

<style>
  .wrapper {
    width: 68em;
    margin: 4em auto;
    background: #fff;
    padding: 4em;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
  }


  }
  code {
    padding: .2em .3em;
    background: #f5f5f5;
    margin: 0 .2em;
    border-radius: 4px;
    font-size: .95em;
    font-family: 'Source Code Pro';
  }
  .product-grid.product-grid--flexbox .product-grid__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .product-grid.product-grid--flexbox .product-grid__title {
    height: auto;
  }
  .product-grid.product-grid--flexbox .product-grid__title:after {
    display: none;
  }
  .product-grid__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 33.33333%;
  }
  .product-grid__product {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px #eee
  }
  .product-grid__product:hover {
    box-shadow: 0px 0px 0px 1px #eee;
    z-index
<img src="http://i65.tinypic.com/25s4ho7.png" border="0" alt="Image and video hosting by TinyPic"><br / >
<br / >

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">: 50;
  }
  .product-grid__product:hover .product-grid__extend {
    display: block;
  }
  .product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 150px;
  }
  .product-grid__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
  .product-grid__title {
    margin-top: .875rem;
    display: block;
    font-size: 1.125em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
  }
  .product-grid__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
  }
  .product-grid__price {
    color: #E91E63;
    font-weight: bold;
    letter-spacing: .4px;
  }
  .product-grid__extend-wrapper {
    position: relative;
  }
  .product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    margin: .4375rem -1rem 0;
    box-shadow: 0px 0px 0px 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }
  .product-grid__extend:before {
    content: "";
    height: .875rem;
    width: 100%;
    position: absolute;
    top: -.4375rem;
    left: 0;
    background: #fff;
  }
  .product-grid__description {
    font-size: .875em;
    margin-top: .4375rem;
    margin-bottom: 0;
  }
  .product-grid__btn {
    display: inline-block;
    font-size: .875em;
    color: #777;
    background: #eee;
    padding: .5em .625em;
    margin-top: .875rem;
    margin-right: .625rem;
    cursor: pointer;
    border-radius: 4px;
  }
  .product-grid__btn i.fa {
    margin-right: .3125rem;
  }
  .product-g
<img src="http://i65.tinypic.com/25s4ho7.png" border="0" alt="Image and video hosting by TinyPic"><br / >
<br / >

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">rid__add-to-cart {
    color: #fff;
    background: #E91E63;
  }
  .product-grid__add-to-cart:hover {
    background: #ee4c83;
  }
  .product-grid__view {
    color: #777;
    background: #eee;
  }
  .product-grid__view:hover {
    background: white;
  }

.wrapper2{
  position: absolute;
  left: 65%;
  transform: translate(-50%,-50%);
}
.container{
  position: relative;
  padding: 20px 50px;
}

.input{
  min-width: 500px;
  width: 50%;
  border: 3px solid #111;
  background: transparent;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: #111;
  font-weight: bold;
  letter-spacing: 1px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #111;
  font-family: Roboto;
  letter-spacing: 2px;
  text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #111;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #111;
}


</style>


<img src="http://i65.tinypic.com/25s4ho7.png" border="0" alt="Image and video hosting by TinyPic"><br / >
<br / >

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
  <div class="wrapper2">
  <div class="container">
    <form method="POST" action="{% url 'games:search' %}">
      {% csrf_token %}
      <input type="text" class="input" id="search" name = 'search' placeholder="Search Game  Title">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div class="wrapper">

 <h2><strong>New Releases:</strong></h2>
	<div class="content">
		<!-- content here -->
		<div class="product-grid product-grid--flexbox">
			<div class="product-grid__wrapper">
				<!-- Product list start here -->

				<!-- Single product -->

        {% for game in games.all %}
        <div class="product-grid__product-wrapper">
					<div class="product-grid__product">
            <div class="product-grid__img-wrapper">
              <a href= "{% url 'games:gameDetails'  game.id%}">
							<img src="{{game.image.url}}" alt="Img" class="product-grid__img" />
              </a>
						</div>
            <span class="product-grid__title"><a href= "{% url 'games:gameDetails'  game.id%}">{{game.title}}</a></span>
						<span class="product-grid__price">${{game.price}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{game.summary}}</p>
								<span class="product-grid__btn product-grid__add-to-cart" ><i class="fa fa-cart-arrow-down"></i> Add to cart</span>
								<span class="product-grid__btn product-grid__view">
                  <a href= "{% url 'games:gameDetails'  game.id%}"><i class="fa fa-eye"></i> View more</span>  </a>
							</div>
            </div>
          </div>
        </div>


        {% endfor %}

			</div>
		</div>
	</div>

</div>
</body>



{% endblock %}
