{%extends 'base.html'%}

{% block content %}


{%if error%}
{{error}}
<br / >
<br / >
{% endif %}

<style>
    html, body {
        width: 100%;
        height: 100%;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        color: #444;
        -webkit-font-smoothing: antialiased;;
    }
    #container {
        width: 340px;
        height: 640px;
        top: 30%;
        left: 50%;
        margin-top: 5%;
        margin-left: 40%;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    }
    form {
        margin: 0 auto;
        margin-top: 20px;
    }
    label {
        color: #555;
        display: inline-block;
        margin-left: 18px;
        padding-top: 10px;
        font-size: 14px;
    }
    img {
    max-width: 90%;
    max-height: 90%;
  }
    p a {
        font-size: 11px;
        color: #aaa;
        float: right;
        margin-top: -13px;
        margin-right: 20px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;
    }
    p a:hover {
        color:#903939;
    }
    input {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        outline: none;
    }
    #lower {
        background: #ecf2f5;
        width: 100%;
        height: 58px;
        margin-top: 15px;
    }
    input[type=checkbox] {
        margin-left: 20px;
        margin-top: 30px;
    }
    .check {
        margin-left: 3px;
    }
    input[type=submit] {
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        width: 80px;
        height: 30px;
    }
    input[type=submit] {
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        width: 80px;
        height: 30px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background-color: #acd6ef; /*IE fallback*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0404), to(#903939));
        background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #FF4500 100%);
        background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
        border-radius: 30px;
        border: 1px solid #66add6;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
        cursor: pointer;
    }
    input[type=text],
    input[type=password] {
        color: #777;
        padding-left: 10px;
        margin: 10px;
        margin-top: 12px;
        margin-left: 18px;
        width: 290px;
        height: 35px;
        border: 1px solid #c7d0d2;
        border-radius: 2px;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;
    }
    input[type=text]:hover,
    input[type=password]:hover {
        border: 1px solid #903939;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #903939;
    }
    input[type=text]:focus,
    input[type=password]:focus {
        border: 1px solid #FF4500;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #FF4500;
    }
</style>


<div id="container">
    <img src="http://i65.tinypic.com/25s4ho7.png" border="0" >
    <form method="POST" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <!-- {% if userForm.errors %}
        {% for field in userForm %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <p style="color: red"><strong>{{ error|escape }}</strong></p>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in userForm.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %} -->
        <label for="username">Username:</label>
        {{ userForm.username }}
        <label for="first_name">First name:(optional)</label>
        <input type="text" id="username" name="first_name">
        <label for="username">Last name:(optional)</label>
        <input type="text" id="username" name="last_name">
        <label for="username">Email:</label>
        <input type="text" id="username" name="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password1">
        <label for="password">Confirm password:</label>
        <input type="password" id="password" name="password2">
        <div id="lower">
            <input type="submit" value="Sign Up">
        </div><!--/ lower-->
    </form>
</div>



{% endblock %}
